<!DOCTYPE html>
<html ng-app="electron-app">
<head>
    <title>GUI Command Runner</title>
    <link rel="stylesheet" type="text/css" href="./assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./assets/css/app-style.css">
</head>
<body>
<div class="app-container" ng-controller="MainController">

    <div>
        <button type="button" class="btn btn-link pull-right" data-toggle="modal" data-target="#settings-modal">
            <span class="glyphicon glyphicon-cog"></span>
        </button>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="settings-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Add new command</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="command-title">Task title</label>
                            <input type="text" class="form-control" id="command-title">
                        </div>
                        <div class="form-group">
                            <label for="command-name">Command</label>
                            <input type="text" class="form-control" id="command-name">
                        </div>
                        <div class="form-group">
                            <label for="command-arguments">Arguments</label>
                            <input type="text" class="form-control" id="command-arguments">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row" ng-repeat="project in projects track by $index">
        <div class="col-sm-12">
            <h4>{{ project.title}}</h4>
            <div class="row command-row clearfix" ng-repeat="command in project.commands track by $index">
                <div class="col-sm-4">
                    <h5>{{ command.title }}</h5>
                </div>
                <div class="col-sm-5">
                    <span>Status: </span>
                    <span class="process-status" ng-class="{'running': command.isRunning, 'stopped': !command.isRunning}"></span>
                    <button class="btn btn-link"
                            type="button"
                            data-toggle="collapse"
                            data-target="#{{'toggleConsole-'+$index}}"
                            aria-expanded="false"
                            aria-controls="{{'toggleConsole-'+$index}}"
                            ng-click="command.isConsoleExpanded = !command.isConsoleExpanded;">
                        <span ng-show="!command.isConsoleExpanded">Show console</span>
                        <span ng-show="command.isConsoleExpanded">Hide console</span>
                    </button>
                </div>
                <div class="col-sm-3">
                    <span>Action: </span>
                    <div class="action-button-wrapper">
                        <span class="glyphicon glyphicon-play" ng-show="!command.isRunning" ng-click="startProcess(command)"></span>
                        <span class="glyphicon glyphicon-stop" ng-show="command.isRunning" ng-click="stopProcess(command)"></span>
                    </div>
                </div>
                <div class="col-sm-12 console-container">
                    <div class="collapse" id="{{ 'toggleConsole-'+$index }}">
                        <div class="well">
                            <div class="text-right">
                                <button class="btn btn-primary btn-xs" ng-click="command.consoleOutput = ''">Clear
                                    Console Output
                                </button>
                            </div>
                            <textarea class="process-console" ng-model="command.consoleOutput" readonly console=""></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script>window.$ = window.jQuery = require('./assets/js/jquery-2.2.0.js');</script>

<script type="text/javascript" src="./assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src="./assets/js/angular.min.js"></script>
<script type="text/javascript">
    require('./assets/js/angular-app.js');
</script>
<script type="text/javascript" src="./assets/js/directives/consoleDirective.js"></script>
</body>
</html>